<form class="form-horizontal" role="form">
	<div class="form-group">
		<div class="col-sm-10">
			<input type="text" class="form-control mono" id="profiles-command" placeholder="mvn help:active-profiles help:all-profiles" readonly/>
		</div>
		<div class="col-sm-1">
			<button ng-click="runProfiles()" class="btn btn-default btn-block"><span class="glyphicon glyphicon-play-circle"></span></button>
		</div>
		<div class="col-sm-1">
			<button ng-click="openThis('http://books.sonatype.com/mvnref-book/reference/profiles.html')" class="btn btn-default btn-block"><span class="glyphicon glyphicon-info-sign"></span></button>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-6">
			Active Profiles
		</div>
		<div class="col-sm-6">
			All Profiles
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-6">
			<textarea ng-keyup="$event.keyCode == 13 ? findText(true) : null" class="form-control mono" id="active-profiles" rows="14" wrap="off" readonly></textarea>
		</div>
		<div class="col-sm-6">
			<textarea ng-keyup="$event.keyCode == 13 ? findText(true) : null" class="form-control mono" id="all-profiles" rows="14" wrap="off" readonly></textarea>
		</div>
	</div>
</form>
